<h1>Attribute Directives</h1>
<h2>ngClass and ngStyle</h2>
<p>Control class representation with ngClass</p>
<div [ngClass]="{ border: true, background: false }"></div>
<p>Now same thing with class attribute</p>
<div [class.border]="true"></div>
<p>Set custom inline styles with ngStyle</p>
<div [ngStyle]="{ 'background-color': 'red' }"></div>
<h2>Custom Attribute Directive</h2>
<div highlight>Some text</div>
<h2>Custom Attribute Directive with Input Decorator</h2>
<div [highlight]>Some text</div>
<br>
<hr>
<h2>Structural Directives</h2>
<h3>*ngIf</h3>
<div *ngIf="switch">Conditional Text</div>
<button (click)="onSwitch()">Switch</button>
<br>
<hr>
<h3>*ngFor</h3>
<ul>
  <li *ngFor="let item of items; let i = index">{{item}} - Index: {{i}} </li>
</ul>
